@CHARSET "ISO-8859-1";


#primaryContainerDiv {

	width:100%;
	height:600px;
	background-color:#DDDDDD;
	display:block;
}


#mainImageDiv{

	height:100%;
	width:100%;
}

#mainImageDiv {
	text-align:center;
}

#mainImage{
	height:100%;
}


#historyContainerDiv {
	display:block;

	width:100%;
	height:200px;
	background-color:red;
}
#historyContainerDiv:hover {

	background-color:black;
}


.grafitiHistory img{
	height:100%;
	float:left;
}

